.DS_Store
/sd3DDraw/Library/
/sd3DDraw/Logs/
/sd3DDraw/obj/
/sd3DDraw/.vs/
/sd3DDraw/Temp/
/sd3DDraw/*.csproj
/sd3DDraw/result_*.png
/sd3DDraw/result_*.psd
/sd3DDraw/Packages/online.mumeigames.RemoveBackground@0.1.0/